---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Stats from "../components/Stats.astro";
import WhyMonimata from "../components/WhyMonimata.astro";
import Features from "../components/Features.astro";
import HowItWorks from "../components/HowItWorks.astro";
import Gamification from "../components/Gamification.astro";
import FAQ from "../components/FAQ.astro";
import CTA from "../components/CTA.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<BaseLayout>
  <Header />
  <main>
    <Hero />
    <Stats />
    <WhyMonimata />
    <Features />
    <HowItWorks />
    <Gamification />
    <FAQ />
    <CTA />
  </main>
  <Footer />
</BaseLayout>
